[submodule "themes/academic-kickstart"]
	path = themes/academic-kickstart
	url = https://github.com/AshishMahabal/academic-kickstart
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
